.modal {
  position: fixed;
  inset: 0;
  margin: auto;
  width: 70vw;
  height: fit-content;
  max-height: 90vh;
  padding: 2em;
  border: solid 1px $color-grey-1000;
  border-radius: 1em;
  background-color: $color-grey-1000;
  box-shadow: $box-shadow-dark-grey;
  z-index: 5;
}
