.modal {
  position: fixed;
  //   font-size: 1.1em;
  inset: 0;
  margin: auto;
  width: 70vw;
  width: fit-content;
  min-width: 200px;
  max-width: 600px;
  height: fit-content;
  max-height: 90vh;
  padding: 2em;
  border: solid 1px $color-grey-1000;
  background-color: $color-grey-1000;
  box-shadow: $box-shadow-dark-grey;
  z-index: 5;
}
