.sort-bar {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 1em;
  .sort {
    justify-self: start;
    padding: 1em 1.5em;
    color: $color-grey-1000;
    background-color: $color-red-1000;
    text-transform: uppercase;
    border-radius: 1em;
    label {
      span {
        margin-inline-end: 0.5em;
      }
    }
  }
  button {
    @include btn();
    justify-self: center;
    width: fit-content;
    height: fit-content;
  }
  a {
    justify-self: end;
  }
}
