.sort-bar {
  display: grid;
  grid-auto-flow: column;
  // justify-content: space-around;
  align-items: center;
  padding: 1em;
  .sort {
    padding: 1em;
    border: solid 1px $color-dark-grey-1000;
    border-radius: 1em;
    justify-self: center;
    label {
      padding: 1em;
      span {
        margin-inline-end: 0.5em;
      }
    }
  }
  button {
    @include btn($type: light);
    justify-self: center;
    width: fit-content;
    height: fit-content;
  }
  a {
    justify-self: end;
  }
}
