.toy-edit {
  position: relative;
  height: fit-content;
  min-height: 25vh;
  min-width: 50vw;
  overflow-y: auto;
  h2 {
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    .container {
      height: 100%;
      width: 100%;
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
      @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
      }
      .edit-inputs {
        display: grid;
        justify-items: start;
        label {
          width: 100%;
          input[type="text"],
          input[type="number"] {
            width: 100%;
          }
        }
      }
      .labels-list {
        justify-self: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        .toy-label {
          padding: 0.5em;
          width: fit-content;
          background-color: $color-beige-1200;
          border-radius: 1em;
          transition: background-color 0.3s ease;
          &:hover {
            cursor: pointer;
            background-color: $color-light-red-1200;
          }
          &.included {
            color: $color-grey-1000;
            background-color: $color-red-1000;
          }
        }
      }
    }
    .btn {
      align-self: center;
      width: fit-content;
    }
  }
}
