.toy-details {
  position: relative;
  display: grid;
  grid-template-rows: repeat(auto-fill, auto);
  align-content: start;
  padding: 1em;
  .toy-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    // min-height: em(600px);
  }
  .chat-btn {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: fit-content;
  }
  .popup {
    @include popup();
    right: 2rem;
    bottom: 6rem;

    header {
      align-self: start;
      text-align: center;
    }
    main {
      height: 100%;
      align-self: flex-end;
    }
    footer {
      align-self: flex-end;
      text-align: center;
    }
  }
}
