.toy-details {
  position: relative;
  display: grid;
  align-content: start;
  padding: 1em;
  nav {
    display: flex;
    justify-content: space-between;
    .toy-nav {
      display: flex;
      gap: 1em;
    }
  }
  .toy-container {
    // border: solid 5px yellow;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    height: 70vh;
    .img-container {
      position: relative;
      // border: solid 5px black;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: auto;
        width: auto;
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
      }
      h2 {
        position: absolute;
        top: 50%;
        padding: 0.5em;
        background-color: $color-red-1000;
        color: $color-grey-1000;
        border-radius: 1em;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        transform: rotate(330deg);
      }
    }
    .details {
      // border: solid 5px red;
      padding: 1em;
      h2 {
        text-decoration: underline;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        margin-block-end: 1em;
        li {
          padding: 0.5em;
          width: fit-content;
          background-color: $color-beige-1200;
          border-radius: 1em;
        }
      }
    }
  }
  .related-toys-container {
    h2 {
      text-decoration: underline;
      margin: 0;
    }
    .related-toys-by-label {
      & > h4 {
        margin-block: 0.5em;
        padding: 0.5em;
        width: fit-content;
        background-color: $color-beige-1200;
        border-radius: 1em;
      }
    }
  }
  .chat-btn {
    @include btn($type: icon);
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: fit-content;
    border: solid 1px $color-dark-grey-1000;
  }
  .popup {
    @include popup();
    right: 2rem;
    bottom: 6rem;
    header {
      align-self: start;
      text-align: center;
    }
    main {
      height: 100%;
      align-self: flex-end;
    }
    footer {
      align-self: flex-end;
      text-align: center;
    }
  }
}
