.toy-list {
  padding: 0 0 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(400px, 1fr)); */
  grid-template-rows: repeat(auto-fill, 400px);
  gap: 15px;
  margin: 0;
}

.toy-list li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 200px;
  max-width: 600px;
  min-height: 200px;
  max-height: 600px;
  padding: 1em;
  border: solid var(--gray2);
  border-radius: 25px;
  background-color: var(--white);
  transition: background-color 0.5s, color 0.5s;
}

.toy-list li:hover {
  box-shadow: 0 2px 8px var(--shadow);
  transform: scale(1.001);
}
