.main-layout {
  display: grid;
  grid-template-columns: 1.1rem 1fr 1.1rem;
  grid-template-rows: auto, 1fr, auto;
  grid-template-areas:
    "h h h"
    "m m m"
    "f f f";
}

.main-layout > * {
}

.main-layout .full {
  grid-column: 1/-1;
}

.main-layout .content {
  grid-column: 2;
}

/* .container {
  max-width: 800px;
  padding: 1em;
  margin: auto;
} */

.app-header {
  display: grid;
  grid-template-columns: subgrid;
  grid-area: h;
}

.app-main {
  display: grid;
  grid-template-columns: subgrid;
  grid-area: m;
  min-height: 90vh;
}

.app-footer {
  display: grid;
  grid-template-columns: subgrid;
  grid-area: f;
}
